body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

form {
    margin-top: 1rem;
}

label, input, textarea {
    display: block;
    margin-bottom: 1rem;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 1rem;
    display:flex;
    justify-content: space-between;
}



.delete-button, .edit-button {
    background-color: red;
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}
/* Add styles for the task completion checkbox */
.task-completed {
    margin-right: 10px; /* Add some spacing between checkbox and task title */
  }
  
  /* Style the label for better appearance */
  label {
    display: flex;
    align-items: center; /* Vertically center the checkbox and text */
  }
  